<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <h4 id="page-heading1" style="color:#000000;">Hardware Demosntrator</h4>

    <a ng-click="vibrate()" id="page2-button3" class="button button-positive button-block">Vibrate</a>
    <a ng-click="toast()" id="page2-button4" class="button button-positive button-block">Toast</a>
    <a ng-click="simpledial()" id="page2-button5" class="button button-positive button-block">Dismiss Dialog</a>
    <a ng-click="compoundial()" id="page2-button6" class="button button-positive button-block">Option Dialog</a>
    <a ng-click="promptdial()" id="page2-button7" class="button button-positive button-block">Prompt Dialog</a>
    <a ng-click="torch()" id="page2-button8" class="button button-positive button-block">Torch</a>
    <a ng-click="soundalert()" id="page2-button9" class="button button-positive button-block">Beep</a>
    
  </ion-content>
</ion-view>